:root {
    --button-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    --angle-polaroid: 1deg;
    --category-color: rgb(196, 0, 30);
    --category-background-color: #f5f5f5;
    --margin-top-ticket: 15%;
}

.container {
    user-select: none;
    overflow: hidden;
    height: 100vh;
    position: relative;
    background-color: white;
}

#wait_loading {
    background-color: black;
    background-size: cover;
    background-position: center;
    height: 100%;
    z-index: 3;
    position: relative;
}

#blackScreen {
    background-color: black;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    font-size: 36px;
    text-align: center;
    padding-top: 20%;
    color: white;
}

button {
    cursor: pointer;
}

#cinema_background {
    background-image: url(../images/site/cinema_transparent.png);
    background-size: cover;
    background-position: center;
    height: 100%;
    z-index: 2;
    position: relative;
    background-repeat: no-repeat;
}

#curtain {
    position: absolute;
    top: calc(50% - 300px);
    left: calc(50% - 306px);
    background-image: url(../images/site/curtain.jpg);
    background-size: cover;
    background-position: center;
    height: 408px;
    width: 612px;
    z-index: 1;
}

main, body {
    margin: 0;
}

#navBar ul {
    list-style: none;
    padding: 0;
    text-align: right;
    margin: 0 50px 0 0;
}

#navBar li {
    margin-top: 50px;
    display: inline-block;
}

#login_button {
    background-color: #0277BD;
    color: white;
    border: none;
}

#login_button:hover {
    background-color: #03A9F4;
    transition-duration: 0.3s;
}


#login_form input {
    font-size: 18px;
    width: 280px;
    height: 26px;
}

#login_form button {
    height: 40px;
    width: 40%;
    margin: auto;
}

#login_form label {
    display: inline-block;
    min-width: 110px;
    line-height: 30px;
}

#album_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: hidden;
    user-select: none;
}

#categoryPhoto_div {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}

#categoryBackground,#morePhoto_background {
    height: 100%;
    background-image: url(../images/site/background.jpg);
    background-size: cover;
    background-position: center;
}

#morePhoto_background{
    display: flex;
    align-content: center;
    justify-content: center;
}

#morePhoto_div h2{
    margin-top: 0;
    font-size: 24px;
}

#morePhoto_div .wrapper{
    margin-left: calc(50% - 75px);
    margin-top: 20px;
}

.categoryPhoto {
    width: 25%;
    height: auto;
    text-align: center;
    margin-bottom: 10px;
    background-image: url(../images/site/film.png);
    background-size: 160px;
    background-position: center;
    background-repeat: no-repeat;
}

.wrapper {
    display: inline-block;
    text-align: center;
    padding: 4px 10px;
    font-size: 24px;
    color: var(--category-color);
    border: 3px solid var(--category-color);
    font-family: sans-serif;
    background-color: var(--category-background-color);
    font-weight: 700;
    box-shadow: 5px 5px 0 #666;
    transition-duration: 0.3s;
    cursor: pointer;
    position: relative;
}

.category_p {
    margin: 0;
    z-index: 2;
    letter-spacing: 2px;
    position: relative;
}

.wrapper:hover .category_p {
    color: var(--category-background-color);
}

.category_background {
    z-index: 0;
    display: inline-block;
    width: 0;
    background-color: var(--category-color);
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    animation-duration: 0.2s;
}

#morePhoto_div {
    width: 50%;
    background-color: var(--category-background-color);
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    border: 3px solid black;
    align-self: center;
    padding: 20px;
}

#morePhoto_div label, #morePhoto_div input{
    cursor: pointer;
}

#morePhotoCategory_div{
    width: 300px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-self: center;
}

#morePhotoCategory_div img{
    cursor: pointer;
}

#morePhotoCategory_div img:hover{
    filter: drop-shadow(5px 5px 5px #222);
}

@keyframes loading {
    0% {
        width: 0;
        opacity: 0;
    }
    100% {
        width: 100%;
        opacity: 1;
    }
}

.wrapper:hover {
    box-shadow: 2px 2px 0 #666;
}

.wrapper:hover .category_background {
    animation: loading 0.2s linear forwards;
}

#album_div > div {
    opacity: 0.7;
    min-width: 140px;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    height: 140px;
    position: relative;
}

.sprite1 {
    background-image: url(../../storage/photos_mini/01-Strasbourg/sprite.jpg);
}

.sprite2 {
    background-image: url(../../storage/photos_mini/02-Eglise%20Moirax/sprite.jpg);
}

.sprite3 {
    background-image: url(../../storage/photos_mini/03-Chateau%20Aubiac/sprite.jpg);
}

.sprite4 {
    background-image: url(../../storage/photos_mini/04-Photobooth/sprite.jpg);
}

.sprite5 {
    background-image: url(../../storage/photos_mini/05-Riedisheim/sprite.jpg);
}


#album_div.grabbing {
    cursor: grabbing;
}

.mini {
    margin: 20px auto 0 auto;
    filter: sepia(1);
    height: 100px;
    max-width: 140px;
}

#album_div svg {
    position: absolute;
    z-index: 2;
    left: 0;
}

#album_div div.selected {
    opacity: 1;
}

#album_div div.selected .mini {
    animation: sepia-out 0.4s ease-out forwards;
}

@keyframes sepia-out {
    100% {
        filter: sepia(0);
    }
}

#album_div div:hover {
    opacity: 1;
}

.category_div img {
    opacity: 0;
    margin: 20px 0;
    background: ghostwhite;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 10px 10px 30px;
    box-shadow: 0 1px 5px 0 #656565;
    transform: rotate(var(--angle-polaroid));
    filter: alpha(opacity=85);
    border: 1px solid #c9c9c9;
}

.category_div img.displayed {
    transition: all .5s ease-in-out;
    opacity: 1;
}

#photoDisplayed {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.hidden {
    display: none;
}

#diaporamaControls .locked {
    cursor: not-allowed;
}

#diaporamaControls .selected {
    color: #551212;
    background-color: pink;
    box-shadow: inset 1px 1px 1px grey, inset -1px -1px 1px grey, inset 1px -1px 1px grey, inset -1px 1px 1px grey;
    transition-duration: 0.3s;
}

#album_div {
    margin-top: 5px;
    display: flex;
    position: relative;
    cursor: pointer;
}

#diaporamaControls {
    margin: 5px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#diaporamaControls div {
    display: inline-block;
    margin: 0 5px;
    width: 50px;
    line-height: 20px;
    border: 1px black solid;
    cursor: pointer;
    text-align: center;
    box-shadow: var(--button-shadow), var(--button-shadow), var(--button-shadow), var(--button-shadow);
}

#diaporamaControls div:not(.played):hover {
    opacity: 0.7;
    background-color: aquamarine;
}

#leftButton {
    position: absolute;
    left: 10px;
}

#rightButton {
    position: absolute;
    right: 10px;
}

#homeButton {
    position: absolute;
    left: 120px;
}

.icons {
    background-color: transparent;
    shape-rendering: geometricPrecision;
    fill: currentColor;
    overflow: initial;
}

.i_12x12 {
    width: 12px;
    height: 12px;
}

.i_11x11 {
    width: 11px;
    height: 11px;
}

.i_40x40 {
    width: 40px;
    height: 40px;
}

.errorMessage {
    color: #D8000C;
    font-weight: bold;
    text-align: center;
    line-height: 38px;
    width: 50%;
    display: inline-block;
    margin-left: 20px;
}

.fade-in-400 {
    animation: fade-in 0.4s ease-out forwards;
}

@keyframes fade-in {
    0% {
        color: white;
    }
    100% {
        color: #D8000C;
    }
}

.zoom-inside {
    animation: zoom-inside 4s ease-in forwards;
}

@keyframes zoom-inside {
    0% {
        background-size: 100%;
    }
    80% {
        opacity: 1;
    }
    100% {
        background-size: 250%;
        background-position: 50% 40%;
        opacity: 0;
    }
}

@keyframes zoom-inside-smartphone {
    0% {
        background-size: 300%;
    }
    80% {
        opacity: 1;
    }
    100% {
        background-size: 500%;
        background-position: 50% 40%;
        opacity: 0;
    }
}

.open-curtain {
    animation: open-curtain 3s linear forwards;
}

@keyframes open-curtain {

    100% {
        width: 70vw;
        top: -500px;
        left: 10vw;
    }
}

.fade-in-photo {
    animation: fade-in 0.4s ease-in-out forwards;
}

.fade-out-200 {
    animation: fade-out .2s ease-in-out forwards;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.slide-up {
    animation: slide-up 1s ease-out forwards;
}

@keyframes slide-up {
    0% {
        opacity: 0.5;
    }
    100% {
        margin-top: var(--margin-top-ticket);
        opacity: 1;
    }
}

.animate_rotate {
    animation: waitingRotate 2s linear infinite;
}

@keyframes waitingRotate {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }

    50% {
        transform: rotate(180deg);
        opacity: 0.1;
    }

    100% {
        transform: rotate(360deg);
        opacity: 1;
    }
}

#ticket {
    width: 525px;
    height: 297px;
    border: 1px solid black;
    display: inline-block;
    padding: 10px;
    position: relative;
    box-sizing: border-box;
    background-color: white;
    margin-left: calc(50% - 525px / 2);
    margin-top: 110vh;
    box-shadow: inset -10px 0 19px rgba(0, 0, 0, 0.2);
}

.horaire {
    background-color: black;
    color: white;
    margin-left: 20px;
    font-weight: bold;
    font-size: 1.6rem;
    padding: 2px 10px;
}

.cine {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.vf {
    font-family: 'Roboto', sans-serif;
    text-shadow: none;
    color: black;
    font-size: 1.2rem;
}

.code {
    line-height: 16px;
    font-size: 1.5rem;
    font-family: 'Libre Barcode', cursive;
    margin-left: 125px;
    position: absolute;
    bottom: -5px;
}

.lieu {
    font-size: 1.2rem;
    margin-left: 20px;
    font-weight: bold;
}

label, p, .errorMessage {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 2.2rem;
    font-family: 'Fascinate Inline', cursive;
    text-align: center;
    margin: 10px 8px;
}

#logoutButton:hover {
    animation: blink linear infinite 0.9s;
}

#logoutButton span:hover {
    animation: blink linear 4 0.2s;
}

#logoutButton {
    cursor: pointer;
    font-family: "Vibur", sans-serif;
    font-size: 50px;
    color: #fee;
    font-weight: 400;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 5px 3px #000;
    transition-duration: 0.1s;
}

#logoutButton .blink {
    animation: blink linear infinite 12s;
}

@keyframes blink {
    78% {
        color: inherit;
        text-shadow: inherit;
    }
    79% {
        color: #333;
    }
    80% {

        text-shadow: none;
    }
    81% {
        color: inherit;
        text-shadow: inherit;
    }
    82% {
        color: #333;
        text-shadow: none;
    }
    83% {
        color: inherit;
        text-shadow: inherit;
    }
    92% {
        color: #333;
        text-shadow: none;
    }
    92.5% {
        color: inherit;
        text-shadow: inherit;
    }
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.woff2) format("woff2");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Fascinate Inline';
    src: url(../fonts/Fascinate-inline.woff2) format("woff2");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Libre Barcode';
    src: url(../fonts/LibreBarcode39-Regular.ttf) format("truetype");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Vibur';
    src: url(../fonts/Vibur.woff2) format("woff2");
    font-weight: 400;
    font-display: swap;
}

@media screen and (max-width: 680px) {
    #album_div {
        display: none;
    }

    #photoDisplayed {
        height: calc(100vh - 30px);
        overflow: hidden;
    }

    #photoDisplayed img {
        height: auto;
        width: auto;
        max-width: 100vw;
        max-height: 100vh;
    }

    #diaporamaControls {
        justify-content: space-around;
    }

    #diaporamaControls #leftButton, #diaporamaControls #rightButton {
        display: none;
    }

    #diaporamaControls div {
        width: 30px;
    }

    #homeButton {
        position: inherit;
    }

    #categoryPhoto_div {
        margin-top: -80px;
        margin-right: 40px;
    }

    #navBar li {
        margin-top: 10px;
    }

    #navBar ul {
        margin-right: 10px;
    }

    #logoutButton {
        font-size: 32px;
    }

    .wrapper {
        font-size: 12px;
    }

    .category_div img {
        height: 50px;
    }

    #morePhotoCategory_div{
        width: 160px;
    }

    #morePhotoCategory_div img{
        width: 50px;
    }

    #morePhoto_div{
        font-size: 12px;
        width: 90%;
    }

    #morePhoto_div h2{
        font-size: 16px;
    }

    .categoryPhoto {
        background-size: 80px;
        width: 30%;
    }

    :root {
        --margin-top-ticket: 5%;
    }
}

@media screen and (max-width: 400px) {
    .categoryPhoto {
        width: 50%;
    }

    .zoom-inside {
        animation: zoom-inside-smartphone 4s ease-in forwards;
    }

    #categoryPhoto_div {
        margin-top: -20px;
    }

    #ticket {
        width: 90%;
        height: auto;
        margin-left: 5%;
        margin-right: 5%;

    }

    #ticket h1 {
        font-size: 20px;
    }

    #login_form input {
        font-size: 14px;
        width: 240px;
    }

    .errorMessage {
        font-size: 12px;
    }

    .code {
        bottom: -7px;
        font-size: 12px;
    }

    :root {
        --margin-top-ticket: 5%;
    }

}

@media screen and (max-width: 1200px) {
    #diaporamaControls div {
        width: 50px;
    }
}